/* css styles */

/* nunito-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/nunito-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* lora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/lora-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  
body {
    font-family: 'Lora', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar span, .sidebar {
    font-family: 'Nunito Sans', sans-serif;
}

body, #quarto-header .navbar {
    background-color: rgb(255, 252, 82);
    color: #000;
}

.nav-link span {
    color: #000;
}

.anchored {
    border-bottom: 1px solid #000;
}

a, .sidebar nav[role="doc-toc"] ul > li > ul > li > a {
    color: #811c62!important;
    text-decoration-line: underline!important;
    text-decoration-thickness: 2px!important;
    text-underline-offset: -1px;
    text-underline-position: under;
}

.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    color: #811c62!important;
    text-decoration-line: none!important;
}

a:hover, a:focus, .sidebar nav[role="doc-toc"] ul > li > a.active:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active:hover, .sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active:focus, .sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:focus {
        color: #811c62 !important;
        transition: text-underline-offset .2s, text-decoration-color .2s;
        text-underline-offset: 1px;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
    border-left: 2px solid #811c62 !important;
    text-decoration: none;
    text-decoration-line: none!important;
}

.navbar a {
    text-decoration: none;
    text-decoration-line: none!important;
}

.navbar a:hover span, .navbar a:focus span {
    color: #811c62 !important;
}