:root {
    /* Font Sizes */
    --title: 3.998rem;
    --subtitle: 2.827rem;
    --header: 1.999rem;
    --subheader: 1.414rem;

    /* Colors */
    --primary: #7000ff;
    --primary-dark: #000000;
    --primary-light: #7000ff;
    --primary-text: #000000;
    --secondary-text: #333333;
    --accent: #dOdOdO;
    --divider: #bdbdbd;
    --white: #ебе6е6;

    /* Breakpoints */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
}


/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, header {
    font-family: 'Inter Bold', sans-serif;
    color: var(--primary);
}

main a {
    box-shadow: inset 0 0 0 0 var(--primary);
    color: var(--primary);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
main a:hover {
    color: #fff;
    box-shadow: inset 1900px 0 0 0 var(--primary);
  }

body {
    color: var(--primary-text);
}

figcaption {
    font-size: 0.9rem;
    text-align: center;
}

hr {
    color: var(--divider);
    opacity: 0.30;
    width: 25%;
}

i {
    font-size: var(--subheader);
}

input,
textarea {
    border: 2px solid var(--divider);
}

input:focus,
textarea:focus {
    border: 2px solid var(--accent);
}

pre {
    border: 1px solid var(--divider);
    overflow: auto;
    margin-bottom: 1.75rem;
    padding: 1rem 1.75rem;
    text-align: left;
    width: 100%;
}

textarea {
    resize: none;
}

ul {
    list-style-type: '– ';
    margin-top: 0;
}

main li {
    padding-left: 1em;
}