<footer class="footer">
    {{ if $.Site.Params.social }}
    {{ $items := $.Site.Params.social }}
    {{ $len := (len $items) }}

    {{ if gt $len 0 }}
    <div class="footer__social">
        {{ range $k, $v := $items }}
        {{ if $v}}
        <a href="{{ $v }}" class="footer__social__link {{ $k }}" alt="{{ $k }}" target="_blank" rel="noopener">
            <span class="screenreader-only">
                {{ $k }}
            </span>
        </a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ end }}

    <div class="copy">
        {{ if $.Site.Params.copy.copy }}
        <p>{{ $.Site.Params.copy.copy }}</p>
        {{ else }}
        <p>© {{ now.Format "2006" }} - {{ $.Site.Title }}</p>
        {{ end }}
        <a href="{{ $.Site.BaseURL }}/de/impressum/">Impressum</a>
    </div>

    {{ partial "scripts.html" . }}
</footer>