<nav id="navigation" class="hamburger-menu">
    <button id="menubutton" class="hamburger__toggle" aria-label="Main Navigation" aria-expanded="false">Menu</button>
        <ul id="primary-menu" class="hamburger__items" hidden>
            {{ range .Site.Menus.main }}
            <li class="hamburger__items__item" aria-label="{{ .Name }}">
                <a href="{{ .URL }}" class="hamburger__items__item__link">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
</nav>